.showMapButtonSet{
	width: 678px;
	margin:50px auto 0px;
}

.showMapButton{
	margin:0;
	height:40px;
	width:300px;
	font-size:15px;
	border-width:1px;
}

.selected{
	background-color:#DF452F;
}

#nationalwideSumIp{
	
}