html,body{
    margin:0;
    padding:0;
}

#wrap {
    margin:0 auto;
    width: 800px;
	background-color:white;
	border-style:solid;
	border-width:1px;
}

#header{
	background-color:white;
	color:#00CCFF;
}

#content{
	background-color:white;
}

#trendChart{
	background-color:white;
}

.esc{
	color:black;
	display:inline;
	font-size:15px;
}

.showEsc{
	display:inline;
	float:left;
	list-style:none;
	border-style:solid;
	border-width:1px 0.5px;
	margin:0;
    padding:10px 20px;
}

.escMesage{
	width: 540px;
	margin:70px auto 0px;
}

.showMapButtonSet{
	width: 540px;
	margin:50px auto 0px;
}

.showMapButton{
	margin:0;
	height:40px;
	width:250px;
	font-size:15px;
}

.trandChartButton{
	margin:0;
	height:40px;
	width:100px;
	font-size:15px;
}

#pageJump{
	float:right;
	color:black;
	width:120px;
	height:80px;
	margin:0 0 auto auto;
	background-image:url(./pageJumpBack.png);
}

#ip{
	color:red;
	width:10px;
	margin:3px auto;
}

#addIp{
	color:red;
	font-size:8px;
	width:10px;
	margin:3px auto;
}

#sumIp{
	color:LightCoral;
	width:10px;
	margin:3px auto;
}

#addSumIp{
	color:LightCoral;
	font-size:8px;
	width:10px;
	margin:3px auto;
}

#sp{
	color:LightSalmon;
	width:10px;
	margin:3px auto;
}

#addSp{
	color:LightSalmon;
	font-size:8px;
	width:10px;
	margin:3px auto;
}

#cure{
	color:green;
	width:10px;
	margin:3px auto;
}

#addCure{
	color:green;
	font-size:8px;
	width:10px;
	margin:3px auto;
}

#dead{
	color:black;
	width:10px;
	margin:3px auto;
}

#addDead{
	color:black;
	font-size:8px;
	width:10px;
	margin:3px auto;
}

#nationalwideIp{
	
}

#nationalwideSumIp{
	
}
